*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:black; */
    }

body{
    overflow-x: hidden ;
    background-color: black;
}

.home-main{
    height: 15vh;
}


.why-us-div{
    height: auto;
}

.why-us-title{
    display: flex;
    flex-direction: column;
    color:red;
    align-content: center;
    width: auto;
}

.why-us{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-size: 55px ;
    padding-top: 30px;
    justify-content: center;
}

.cards{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
    gap: 20px;
}

.card1{
    width: 400px;
    height: 380px;
    background-color: red;
    border-radius: 10px;

}
.img1{
    height: 230px;
    width: 370px;
    margin-top: 3.7%;
    margin-left: 3.5%;
    border-radius: 10px;
}

.card2{
    width: 400px;
    height: 380px;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;

}
.img2{
    height: 230px;
    width: 370px;
    margin-top: 3.7%;
    margin-left: 3.5%;
    border-radius: 10px;

}


.card3{
    width: 400px;
    height: 380px;
    background-color: red;
    border-radius: 10px;
}
.img3{
    height: 230px;
    width: 370px;
    margin-top: 3.7%;
    margin-left: 3.5%;
    border-radius: 10px;
}


.card11{
    width: 400px;
    height: 380px;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;

}
.img1{
    height: 230px;
    width: 370px;
    margin-top: 3.7%;
    margin-left: 3.5%;
    border-radius: 10px;

}

.card22{
    width: 400px;
    height: 380px;
    background-color: red;
    border-radius: 10px;

}
.img2{
    height: 230px;
    width: 370px;
    margin-top: 3.7%;
    margin-left: 3.5%;
    border-radius: 10px;

}


.card33{
    width: 400px;
    height: 380px;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}
.img3{
    height: 230px;
    width: 370px;
    margin-top: 3.7%;
    margin-left: 3.5%;
    border-radius: 10px;

}
/* ________________________________________________________________________ */
.card-title{
    font-family: 'Inter';
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.price{
    margin-top: 10px;
    margin-left: 120px;
    font-size: 34px;
    color: black;
}

.title-and-price{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.card-title122{
    font-family: 'Inter';
    font-style: normal;
    color: black;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.card-par{
    font-family: 'Inter';
    font-style: normal;
    font-size: 23px;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 25px;
}
.learn-more{
    font-size: 17px;
    text-decoration: underline;
    margin-left: 280px;
    color: black;
}

.learn-more:hover{
    color: white;
    font-size: 19px;
    transition: 0.7s ease;
}

.card-title1{
    font-family: 'Inter';
    font-style: normal;
    color: black;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.card-title1122{
    font-family: 'Inter';
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.card-par1{
    font-family: 'Inter';
    font-style: normal;
    font-size: 23px;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 25px;
}
.container1{
    background-color:black;
    height: 80vh;
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}

@media screen and (max-width: 400px) {
    .card1 {
      margin: 20px;
    }
    .img1{
        height: 230px;
        width: 320px;
        margin-top: 3.7%;
        margin-left: 3.5%;
        border-radius: 10px;
    }
  }

   
/*     
.footer-section{
    display: flex;
    background-color:  rgb(93, 93, 93);
    height: 40vh;
}
.footer-title{
    font-family: 'Inter';
    font-style: initial;
    margin-left: 80px;
    font-size: 45px;
    margin-top: 60px;
}
.azza{
    color: red;
    font-family: 'Inter';
    font-style: initial;
    font-size: 45px;
}
.footer-links{
    margin-top: 60px;
    margin-left: 200px;
}
.quick-links{
    font-family: 'Inter';
    font-style: initial;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.footer-btn{
    color: black;

}

.copyright{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Inter';
    font-style: italic;
    margin-top: 100px;
} */